.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px; /* 모달의 너비를 조절하고 싶으면 이 값을 변경하세요 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header h2 {
  margin: 0;
  color: #333;
}

.modal-content {
  margin-top: 20px;
}

.terms {
  margin-top: 10px;
  /* 필요한 경우 여기에 추가 스타일을 적용하세요. */
}

.modal-footer {
  margin-top: 20px;
  text-align: right;
}

.modal-footer button {
  background-color: red; /* 버튼의 배경색 */
  color: white; /* 버튼의 글자색 */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: darkred; /* 버튼을 호버했을 때의 배경색 */
}
